body {
  background-color: ghostwhite;
  font-family: monospace;
  font-size: 16px;
}

small {
  margin-left: 10px;
}

.btn {
  margin-right: 10px;
}

.markedAsDone {
  color: #777;
  text-decoration: line-through;
}

.todoForm {
  padding-bottom: 60px;
}

.tableDescription {
  width: 90%;
}

.aboutText {
  word-break: break-word;
}

@media only screen and (max-width: 1024px) {
  .btn {
    margin-top: 10px;
  }
}